.u-backgroundSizeCover {
    background-size: cover !important;
}

.u-sizeFull {
    height: 100% !important;
    width: 100% !important;
}

.u-fullHeight {
    height: 100% !important;
}
.u-height30 {
    height: 30px !important;
}
.u-height50 {
    height: 50px !important;
}
.u-height60 {
    height: 60px !important;
}

.u-fullWidth {
    width: 100% !important;
}
.u-width50Percent {
    width: 50% !important;
}
